<%- include('./partials/header'); -%>
<h1>Compose</h1>
<form action="/publish" method="post">
<h3>Title</h3>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="postTitle">
  </div>
  <h3>Post</h3>
  <div class="form-floating">
    <textarea class="form-control"  id="floatingTextarea2" style="height: 200px" name="postBody"></textarea>
  </div>
  <br>

<button type="submit">Publish</button>
</form>
<%- include('./partials/footer'); -%>